services:
  app:
    build: .
    container_name: node-ts
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3001:3001"
    
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: db
      MACHINE_FILES: invalid-missing-tape.json,invalid-wrong-tape-type.json,valid-numbers.json

  postgres:
    image: postgres:17-alpine
    container_name: db-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db
    ports:
      - "5434:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
